<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Registration date &nbsp; </th>
      <th>Login</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_at.to_formatted_s(:long) %> &nbsp; </td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>